.verifyButton {
	background-color: white;
	border: solid 2px blue;
  height: 70px;
	width: 70px;
	border-radius: 50%;
	color: green;
}

.verifyButton:focus {
	outline: none;
}

.verifyButton:hover {
	border-width: 3px;
}
