.landing-page {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/100203houston_lg.jpg/793px-100203houston_lg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;


  .overlay {
    background: rgba($brand-primary-color, 0.8);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      min-height: 300px;
    }
  }
}
