body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.raidInfo {
	display: flex;
	width: 100%;
	padding: 20px 0;
  margin: 10px 0;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
}

.raidInfo .raidStat {
	margin-bottom: 10px;
}

.raidInfo .raidStat h1 {
  font-size: 20px;
  text-transform: uppercase;
}

.raidInfo .raidStat p {
  font-size: 15px;
}
